/* Dark mode colors. */
:root {
  --sl-color-accent-low: #131e4f;
  --sl-color-accent: #ff5f2e;
  --sl-color-accent-high: #ff5f2e;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eceef2;
  --sl-color-gray-2: #c0c2c7;
  --sl-color-gray-3: #888b96;
  --sl-color-gray-4: #545861;
  --sl-color-gray-5: #353841;
  --sl-color-gray-6: #24272f;
  --sl-color-black: #17181c;
}

/* Light mode colors. */
:root[data-theme='light'] {
  --sl-color-accent-low: #c7d6ff;
  --sl-color-accent: #f73c01;
  --sl-color-text-accent: #ff5f2e;
  --sl-color-accent-high: #182775;
  --sl-color-white: #17181c;
  --sl-color-gray-1: #24272f;
  --sl-color-gray-2: #353841;
  --sl-color-gray-3: #545861;
  --sl-color-gray-4: #888b96;
  --sl-color-gray-5: #c0c2c7;
  --sl-color-gray-6: #eceef2;
  --sl-color-gray-7: #f5f6f8;
  --sl-color-black: #ffffff;
}

.hero > .hero-html {
  width: unset;
  height: auto;
}

.hero > .hero-html > .hero-image {
  width: 100%;
  height: auto;
}

@media (min-width: 50rem) {
  .hero > .hero-html > .hero-image {
    transform-origin: bottom left;
    transition: transform 0.3s ease-in-out;
    width: 640px;
    height: 455px;
  }

  .hero > .hero-html > .hero-image:hover {
    transform: rotate(-6deg);
  }
}
